{{!-- <!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            
                <h1>
                    HOME!!!!!
                </h1>

        </div>
    </div>
</div>
<!-- END MAIN CONTENT--> --}}
<!-- WELCOME-->
<section class="welcome2 p-t-40 p-b-55" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="au-breadcrumb3">
                    <h1 class="mb-6">Notre <span> GMAO</span> fournit</h1>
                    <p class="mb-4">des outils fiables de planification, de suivi et de reporting pour la maintenance des équipements et des installations.
                </p>
                </div>
            </div>
        </div>
    </div>
</section>
 <!-- END WELCOME-->

<!-- STATISTIC-->
<section class="statistic statistic2" >
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="statistic__item statistic__item--color">
                    <div class="login-logo">
                        <h2><i class="far fa-calendar-check"></i></h2>
                    </div>
                    <span></span>
                    <div class="login-logo"><h2>Work order</h2></div>
                    <span class="desc">Complete the highest priority tasks while ensuring that lower priority tasks do not slip through the cracks</span>  
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="statistic__item statistic__item--color">
                    <div class="login-logo">
                        <h2><i class="fa fa-cogs"></i></h2>
                    </div>
                    
                    <div class="login-logo"><h2>Gestion des pièces</h2></div>
                    <span class="desc">Suivez et créez des rapports sur la consommation d'articles avec des enregistrements d'inventaire simples.
</span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="statistic__item statistic__item--color">
                    <div class="login-logo">
                        <h2><i class="fa fa-clone"></i></h2>
                    </div>
                    <div class="login-logo"><h2>Afficher les rapports</h2></div>
                    <span class="desc">Affichage de rapports importants tels que PPM, installation, inspection quotidienne.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="statistic__item statistic__item--color">
                    <div class="login-logo">
                        <h2><i class="fa fa-heartbeat"></i></h2>
                    </div>
                    <div class="login-logo"><h2>Prolonger la durée de vie de l'équipement</h2></div>
                    <span class="desc">Identifiez les zones problématiques de vos actifs en vérifiant l'historique
                         des ordres de travail et en indiquant la maintenance planifiée</span>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="statistic__item statistic__item--color">
                    <div class="login-logo">
                        <h2><i class="fa fa-clock-o"></i></h2>
                    </div>
                    <div class="login-logo"><h2>Minimiser les temps d'arrêt</h2></div>
                    <span class="desc">Réduisez les temps d'arrêt des équipements en optimisant la planification de la maintenance et en réduisant le temps nécessaire pour répondre aux réparations d'urgence</span>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="statistic__item statistic__item--color">
                    <div class="login-logo">
                        <h2><i class="fa fa-cog"></i></h2>
                    </div>
                    <div class="login-logo"><h2>Réduire les dépenses d'entretien</h2></div>
                    <span class="desc">Réduisez le nombre de pannes coûteuses et développez une meilleure surveillance de vos utilisations de pièces et de fournitures</span>
                </div>
            </div>
        </div>
    </div>
</section>



