<!DOCTYPE html>
<html >
 <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Home</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/login.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
<div class="container">
    <section>
	    <div class="screen">
		    <div class="screen__content">
                
			<form class="login" action="/signIn" method="POST">
                 {{#if error}} 
            <p class="error-message">{{error}}</p>
            {{/if }}
               				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="Email" required class="login__input" name="email" placeholder=" Email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" Name="password" placeholder="Password">
				</div>
				<button class="button login__submit" id="bl">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
			</form>
			
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
    </section>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="js/main.js"></script>
<script>

// const speechSynthesis = window.speechSynthesis;

// const emailInput = document.querySelector('input[name="email"]');
// let hasMouseEntered = false;
// emailInput.addEventListener('mousemove', () => {
//     if (!hasMouseEntered) {
//     hasMouseEntered = true;
//     const emailText = "أنت الآن في حقل البريد الإلكتروني";;
//     const mousemoveUtterance = new SpeechSynthesisUtterance(emailText);
//     mousemoveUtterance.lang = 'ar-SA'; // Set language to Arabic (Egypt)
//     console.log(mousemoveUtterance.lang);
//     speechSynthesis.speak(mousemoveUtterance);
//   }
// });

// emailInput.addEventListener('input', () => {
//   const emailText = emailInput.value;
//   const utterance = new SpeechSynthesisUtterance(emailText);
//   speechSynthesis.speak(utterance);
// });
// emailInput.addEventListener('mouseleave', () => {
//   hasMouseEntered = false;
//   const emailText = "You are now leaving the email field";
//   const mousemoveUtterance = new SpeechSynthesisUtterance(emailText);
//   speechSynthesis.speak(mousemoveUtterance);
// });

// // Password field
// const passInput = document.querySelector('input[name="password"]');
// hasMouseEntered = false;

// passInput.addEventListener('mousemove', () => {
//   if (!hasMouseEntered) {
//     hasMouseEntered = true;
//     const passText = "You are now in the password field";
//     const mousemoveUtterance = new SpeechSynthesisUtterance(passText);
//     speechSynthesis.speak(mousemoveUtterance);
//   }
// });

// passInput.addEventListener('input', () => {
//   const passText = passInput.value;
//   const utterance = new SpeechSynthesisUtterance(passText);
//   speechSynthesis.speak(utterance);
// });

// passInput.addEventListener('mouseleave', () => {
//   hasMouseEntered = false;
//   const passText = "You are now leaving the password field";
//   const mousemoveUtterance = new SpeechSynthesisUtterance(passText);
//   speechSynthesis.speak(mousemoveUtterance);
// });
</script>
</body>

</html>
<!-- end document-->
